@model string
@using Spice.Utility
<div style="width:100%">
    @if (Model == SD.OrderSubmitted)
    {
        <img src="~/images/OrderPlaced.png" width="100%" />
    }
    @if (Model == SD.OrderProcess)
    {
        <img src="~/images/InKitchen.png" width="100%" />
    }
    @if (Model == SD.OrderReady)
    {
        <img src="~/images/ReadyForPickup.png" width="100%" />
    }
    @if (Model == SD.OrderDone)
    {
        <img src="~/images/completed.png" width="100%" />
    }
</div>